/* body{
    background-color: black;
    color:white;
} */
p{
    
 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-style: normal;
    font-stretch: normal;
}



.tab li {
    float: left;
    

  }
  .container{
    display:flex;
    flex-wrap: wrap;
    
}
.samedata{
   
    border:2px solid red;
	border-radius:20px;
    margin:8px;
    padding:12px;
}
section{
	padding:20px;
	
}
.tab{
    
    list-style: none;
}

.tab a{
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:none;
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
} 
 

.tab a:hover{
    background-color: blue;
}

  .nav {
    background-color:black;
    color: #fff;
    height:65px;
    width: 100%;
    position :fixed;
    top: 0;
    z-index: 10;
    opacity:0.5;
   
    
  }

img{
    width:100%
}

.time{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.Level {
    display:flex;
    /*width: 50%;*/
   /* border:2px solid;*/
    margin:auto;
}
 .level-item{
    display: flex;
    flex-direction: column;
    width: 25%;
}



.Level .level-item>* {
    align-self: center;
}

.Level .is-cherry h5, .Level .is-cherry h1{
    color: #ff073a;
}

.Level .is-cherry h4 {
    color: rgba(255,7,58,.6);
}


.Level .is-blue h1, .Level .is-blue h5 {
    color: #007bff;
}

.Level .is-green h1, .Level .is-green h5 {
    color: #28a745;
}

.Level .is-green h4 {
    color: rgba(40,167,69,.6);
}

.Level .is-gray h1, .Level .is-gray h5 {
    color: #6c757d;
}

.Level .is-gray h4 {
    color: rgba(108,117,125,.6);
}



table {
    align-self: center;
    border-collapse: separate;
    border-spacing: 3px 4px;
    font-family: "archia";
    position: relative;
    width: 100%;

    margin: 60px auto;
}

table thead {
    background: rgba(108,117,125,.0627451);
    color: #6c757d;
    font-size: .75rem;
    text-align: left;
}

table thead th {
    background: #f6f6f7;
    border-radius: 5px;
    cursor: pointer;
    padding: .5rem;
    
    position: sticky;
    top: 5px;
   
    z-index: 99;
}
table .heading-content abbr {
    color: #6c757d;
    text-align: right;
}

table .heading-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}


table tbody td:first-child {
    font-weight: 600;
    max-width: 7.5rem;
    text-align: left;
    word-wrap: break-word;
}
table tbody td {
    border-radius: 4px;
    font-size: .9rem;
    padding: .25rem;
    text-align: right;
}
table tbody tr {
    cursor: pointer;
}

table tbody td .total {
    float:left
	
}

.table_container
{
	overflow:scroll;
}
@media only screen and (max-width:600px)
{

	.level-item>h1,h5{
     font-size:1.0em!important;	
     }
}